# Introduction to Pandas Library
- Pandas is an open source library in python which is know for its rich applications and utilities for all kinds of mathematical, financial and statistical functions
- It is useful in data manipulation and analysis
- It provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data

#### Installing pandas

In [ ]:
!pip install pandas

#### Importing pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Comparision between Arrays, Series and Dataframes

<table style="width: 70%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; float: left;">
    <thead>
        <tr style="background-color: #050A30; color: white;">
            <th style="width: 20%;">Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Arrays</td>
            <td>
                <ul>
                    <li>1D datastructure</li>
                    <li>Belongs to numpy library</li>
                    <li>Compatible with all numpy functions</li>
                    <li>Use matplotlib/seaborn to visualize arrays</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Series</td>
            <td>
                <ul>
                    <li>1D datastructure</li>
                    <li>Belongs to pandas library</li>
                    <li>Compatible with all numpy and most of pandas functions</li>
                    <li>Use ser_obj.to_frame() to convert to 2D object if needed</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Dataframes</td>
            <td>
                <ul>
                    <li>2D datastructure</li>
                    <li>Belongs to pandas library</li>
                    <li>Compatible with all numpy and pandas functions</li>
                    <li>Each column from dataframe is a series object</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

###### Example -

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

#### Creating Dataframes

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

#### Accessing Dataframes

###### Ex. Extarct Name column

#### Setting and Re-setting index labels

- `df.set_index(keys, drop=True, inplace=False,)`- Set the DataFrame index (row labels) using one or more existing columns or arrays (of the correct length). The index can replace the existing index or expand on it.
- `df.reset_index(level=None, drop=False, inplace=False,)` - Reset the index of the DataFrame, and use the default one instead. If the DataFrame has a MultiIndex, this method can remove one or more levels.

#### Indexing and Slicing on DataFrames
1. Based on labels - loc
2. Based on index positions - iloc

###### Ex. Extract data for "Jack"

###### Ex. Extract data for Jack and Lizie

###### Ex. Extract salary data for Jack and Lizie

###### Ex. Extract data for row index 2

###### Ex. Extract data for row index 1 to 3

#### Filtering Dataframes

###### Ex. Extract salary > 50000

###### Ex. Extract salary between 20000 to 50000

###### Ex. Extract designation either as HR or Developer

###### Ex. Extract employees who name starts with J

###### Ex. Modify the salary of all employees to 80000 whose original salary is > 300000

#### Operations on dataframes

###### Ex. Average Salary

###### Ex. Average Salary of managers

### Concataneting and Merging Dataframes

In [ ]:
df_jan = pd.DataFrame({"Order ID" : range(101, 104), "Sales" : np.random.randint(10000, 50000, 3)})
df_feb = pd.DataFrame({"Order ID" : range(111, 114), "Sales" : np.random.randint(10000, 50000, 3)})
df_mar = pd.DataFrame({"Order ID" : range(121, 124), "Sales" : np.random.randint(10000, 50000, 3)})

#### Concatenate
pd.concat(`tuple of dfs`, `ignore_index = False`, `axis=0`)

#### Merging Dataframes

`df1.merge(df2, how="", on = "", left_on="", right_on="", left_index= "" , right_index="")`

In [ ]:
df_emp = pd.DataFrame({"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"]})
df_emp

In [ ]:
base_salaries = pd.DataFrame({"Designation" : ["HR", "Developer", "Manager", "Senior Manager"],
            "Salary": [40000, 25000, 70000, 1000000]})
base_salaries

#### Inner Merge

In [ ]:
df_emp.merge(base_salaries, how="inner", on = "Designation")  # returns only common rows

#### Left Merge

In [ ]:
df_emp.merge(base_salaries, how="left", on = "Designation")  # returns all rows from left table

#### Right Merge

In [ ]:
df_emp.merge(base_salaries, how="right", on = "Designation")  # returns all rows from right table

#### Outer Merge

In [ ]:
df_emp.merge(base_salaries, how="outer", on = "Designation")  # returns all rows from both tables

<hr><hr>

## Reading data from external datasources

### Using `os` Library to set path

### Read data from Database

- Syntax - dialect+driver://username:password@host:port/database
            
- Mysql - "mysql+pymysql://root:1234@localhost:3306/onlineshopping"
- Oracle - "oracle+cx_oracle://s:t@dsn"

In [ ]:
from sqlalchemy import create_engine
conn = create_engine(r"sqlite:///employee.sqlite3")
conn

### Read data from api using json object

In [1]:
import requests

### Save the Data to json/csv/excel

##### Note - to connect to excel; openpyxl library is needed

In [ ]:
pip install openpyxl

### Read data from Sharepoint/Googlesheets

In [ ]:
pip install pandas Office365-REST-Python-Client

In [ ]:
from office365.sharepoint.client_context import ClientContext
from office365.runtime.auth.client_credential import ClientCredential

# Replace with your SharePoint site URL, client ID, and client secret
site_url = "https://example.sharepoint.com/sites/YourSite"
client_id = "your_client_id"
client_secret = "your_client_secret"

# Authenticate and connect
ctx = ClientContext(site_url).with_credentials(ClientCredential(client_id, client_secret))

In [ ]:
from io import BytesIO
import pandas as pd

# Replace with the relative URL of your SharePoint file
file_url = "/sites/YourSite/Shared Documents/yourfile.xlsx"

response = ctx.web.get_file_by_server_relative_url(file_url).download_as_stream().execute_query()

# Load the file into a pandas DataFrame
file_stream = BytesIO(response.content)
df = pd.read_excel(file_stream)

print(df)

<hr><hr>

## Data Manipulation using `pandas`

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (4, 3)

###### Ex. Read data from coffee_sales.csv

#### Check for null values
`df.isna()` - Detect missing values. Return a boolean same-sized object indicating if the values are NA.

#### Remove/Replace nulls

- `df.fillna(value=None, inplace=False)` - Fill NA/NaN values using the specified method.
- `df.dropna(axis = 0, how = "any", inplace = False)`
    - axis 0 for row or 1 for column
    - how - {any or all}

##### Note - 
This is older syntax. New syntax to be followed is - `df.method({col: value}, inplace=True)`

#### Handing duplicates

#### Data Cleaning

###### Ex. Convert all numeric column to float

#### Add Column by calculation to the dataframe

###### Ex. Check the status of target sales and add it to the dataframe as a new column

#### Working with date column

###### Ex. Convert date column to date type

#### Renaming column names

`df.columns = [col1, col2, col3, ......] ` 
##### len([]) = no of cols, and sequence must also be the same

#### Replace Values

###### Ex. Replace city Mumbai with Bombay

#### Sorting Dafatrame
- df.sort_values(`ascending=True`, `inplace=False`, `na_position = {"first","last"}`)
- df.sort_index(`ascending=True`, `inplace=False`)

#### Ranking Dataframe
- df[col].rank(`ascending=False`, `method={"average","min","dense"}`, `na_option = {"top","bottom"}`)

## Visual Analytics 
### (using  combination of **`pandas and seaborn`**)
#### Type of variables -
    - Numeric Variable
    - Categorial Variable

### 1. Univariate Analysis 

#### A. Categorial Column

###### Ex. How many products are there in the dataset?

###### Ex. Visualise the frequency of achieved targets versus unachieved targets

#### B. Numeric Column

**1. Descriptive Statistics**
- Mean: The average value of the column.
- Median: The middle value when the column values are sorted.
- Mode: The most frequently occurring value.
- Standard Deviation: A measure of the amount of variation or dispersion.
- Variance: The square of the standard deviation.
- Range: The difference between the maximum and minimum values.
- Minimum and Maximum: The smallest and largest values in the column.
- Quartiles: Values that divide the data into four equal parts (Q1, Q2, Q3).

**2. Distribution Analysis**
- Histogram: A graphical representation of the distribution of the data.
- Density Plot: A smoothed version of the histogram.
- Box Plot: A graphical representation showing the distribution of the data based on the five-number summary (minimum, Q1, median, Q3, maximum).

**3. Measures of Shape**
- Skewness: Indicates the asymmetry of the distribution.
- Kurtosis: Indicates the peakedness of the distribution.

**4. Identifying Outliers**
- QR Method: Outliers are identified using the Interquartile Range (Q3 - Q1).
- Z-Score Method: Outliers are identified based on the Z-score (number of standard deviations from the mean).

### 2. Bi-Variate Analysis

#### A. Numeric-Categorial

**1. Descriptive Statistics**
- Mean: Calculate the mean of the numeric column for each category.
- Median: Determine the median of the numeric column for each category.
- Standard Deviation: Measure the dispersion of the numeric column within each category.
- Count: Count the number of observations in each category.

**2. Visualization**
- Box Plot: Visualize the distribution of the numeric variable across different categories. (Adding hue component)
- Bar Plot with Error Bars: Show the mean of the numeric variable with error bars representing the standard deviation or standard error.
- Line chart: To visualise Time series data

`df.groupby(by=None, as_index=True, sort=True, dropna=True)`

###### Ex. Create a table representing total sales by product

###### Ex. Create a table representing total sales and profit by product

###### Ex. Create a table representing total sales and avg profit by product

###### Ex. Create a table representing total sales over years and month

###### Ex. Create a line chart using seaborn visualising sales on months and years - Trend

###### Ex. Create a line chart using seaborn visualising sales agg on months - Sesonality

#### B. Numeric - Numeric

- Scatter Plot
- Regression Plot
- Pairplot
- Correlation matrix and Heatmap

###### Ex. Create a Scatter plot visualize correlation between Sales and Profit

###### Ex. Create a Scatter plot visualize correlation between Sales and Profit and a trend line

#### C. Categorial - Catergorial/Numeric/both

- Table chart
- Matrix chart - pivot_table()

  `df.pivot_table(index, columns, values, aggfunc, fill_value)`

###### Ex. Display total sales by product and city - matrix chart

###### Ex. How many franchises in each city are selling each product?

<hr><hr>